<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CarCloud</title>
</head>
<body>
    <h1>Сервер CarCloud АО "Лебединский ГОК"</h1>
    <img th:src="@{/images/truck_PNG.png}"/>
    <form>
        <p>Сервер CarCloud остановлен <span th:text="${state}"></span> <button type="submit">Запустить</button></p>
    </form>
<!--    <img th:src="@{/images/truck_PNG.png}"/>-->
<!--    <p th:text="${car.getName()}"></p>-->
<!--    <span th:text="${car.name}"</span>-->
</body>
</html>