<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarCloud</title>
</head>
<body>
    <img src="/images/truck_PNG.png" th:src="@{/images/truck_PNG.png}" alt="Oka"/>
    <h1>Сервер CarCloud АО "Лебединский ГОК"</h1>
    <form action="/home" method="post">
        <p>Сервер CarCloud <span th:text="${state}">остновлен</span>
            <button type="submit" th:text="${actionName}">Запустить</button></p>
    </form>
</body>
</html>